NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

PAYMOB_API_KEY=
PAYMOB_PUBLIC_KEY=
PAYMOB_INTEGRATION_ID=
PAYMOB_HMAC_SECRET=
PAYMOB_BASE_URL=https://accept.paymob.com

GMAIL_USER=
GMAIL_APP_PASSWORD=
GMAIL_FROM=

GROQ_API_KEY=
GROQ_MODEL=llama-3.1-8b-instant

WHATSAPP_BUSINESS_NUMBER=
